{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <img src="{{categoryDetail.category_image.url}}" class="img-fluid">
    <h1>{{categoryDetail.category_name}}</h1>
    <p>{{categoryDetail.category_Description}}</p>
    <h1>Items in Category</h1>
    <div class="row">
        {% for item in categoryItems %}
         <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card" style="width: 18rem;">
                    <img src="{{item.item_image.url}}" class="card-img-top h-100" alt="...">
                    <div class="card-body h-100">
                        <!-- item emri i variablit cfaredo tek for -->
                         <!-- item_name emri i fushes tek modeli -->
                        <h5 class="card-title">{{item.item_name}}</h5>
                        <p class="card-text">{{item.item_description}}</p>
                        <a href="{% url 'detailitemPage' item.pk %}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
         
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}